img {
   width: 1800px;
   filter: blur(3px);
   background-size: cover;
   position: relative;
}

.prunella {
position: absolute;
 margin-top: 350px;
 z-index: 2;
 text-align: center;
 margin-left: 400px;
 color: #9dabdd;
 
}